#form_wrapper {
  width: 500px;
  max-width: 600px;
}

#form_wrapper #location {
  width: 80%;
  display: block;
  margin-bottom: 5px;
}

#form_wrapper #address_table {
  max-width: 360px;
}

#form_wrapper #address_table #street_number {
  width: 20px;
}

#form_wrapper #address_table #route {
  width: 200px;
}

#form_wrapper #address_table #administrative_area_level_1 {
  width: 20px;
}

#form_wrapper .form-row {
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#form_wrapper .form-row span {
  padding-right: 3px;
}

#form_wrapper .hidden {
  display: none;
}

#instructions {
  padding-bottom: 10px;
}

#results .banner {
  font-size: 1.2em;
  margin: 10px;
  font-weight: 800;
}

#results .form-row {
  padding-top: 20px;
}

#results #school_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#results #school_info .school-image {
  max-width: 28%;
}

#results #return_list {
  padding: 0 10px;
  font-weight: 700;
}

#results #return_list li {
  list-style: none;
}

#results #return_list .results-label {
  font-weight: 400;
  padding-right: 10px;
}

#results #no_results {
  color: red;
  font-style: italic;
}

.custom-select{
  height: 30px!important;
}
